.BookSummary .Nav-Conta{
    width: 94vw;
}

.BookSummary .pageElement {
    display: flex;
    /* justify-content: center; */
    padding: 1rem;
}

.BookSummary .pageElement .imageCO{
    width: 231px;
    height: 258px;  
    background: rgba(217, 217, 217, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.6);
    box-shadow: -30px 20px 50px rgba(0, 0, 0, 0.4);    
    margin: 2rem;
}

.BookSummary .pageElement .EContent{
    display: flex;
    flex-direction: column;   
    width: 40rem;
    padding: 2rem;
}

.BookSummary .pageElement .EContent h1{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;    
}

.BookSummary .pageElement .EContent h2{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    color: rgba(0, 0, 0, 0.7);    
}

.BookSummary .pageElement .EContent p{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 1rem;
    display: flex;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);    
}

.BookSummary .KeyPoints{
    background: #FDFBF7;
    width: 90%;
    height: 100%;
    margin-left: 1.8rem;
    margin-bottom: 2rem;
    padding: 3rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
}

.BookSummary .KeyPoints h1{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
    display: flex;
    align-items: center;

    color: #000000;
}

.line2{
    border: 1.3px dashed rgba(0, 0, 0, 0.7);  
}

/* .KeyPoints::after{
    border: 2px dashed rgba(228, 98, 103, 0.8);
    box-shadow: 10px 10px 10px rgba(228, 98, 103, 0.25);
    transform: rotate(90deg);
} */

.BookSummary span{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 60px;
    /* display: flex; */
    align-items: center;
    color: #000000;    
    display: inline-block;
}

.BookSummary .KeyPoints_ p, .Summary h2{
    display: inline-block;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    align-items: center;  
    color: rgba(0, 0, 0, 0.8);  
    margin-left: 1rem;  
}

.Summary h2{
    font-size: 25px; 
    color: rgb(13, 0, 0);  

}

.Summary .textS{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.71);  
    padding: 0 2rem;  
}